# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives:**
* List popular languages for data science
* Commonly used libraries used by Data Scientist
* Data science tootls table
* Examples of arithmetic expressions

#### Some of the most popular languages that data Scientist use are:
1. R.
2. Python
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:

1. pandas 
2. ggplot
3. matplotlib
4. numpy

|Data Science Tools|
|------------------|
|Rstudio|
|ApacheSpark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
##This will convert 200 minutes to hours by diving by 60
minutes = 200;
minutes/60

3.3333333333333335

## Author
José Abraham Gómez Torres